.button {
  width: 48px; /* Adjust the width as needed */
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  border-radius: 4px;
  border: none;
  background: #dadce0;
  color: #212224;
  margin-right: 0px;
}

  .button:focus {
    border: none;
    outline: none;
  }

  .button:hover {
    box-shadow: 0 0 5px rgba(5,5,5, 5);
  }

  .button-active {
    background: #dadce0;
  }

  .button-active:hover {
    background: #dadce0;
  };

  .button-row {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 0;
    flex-wrap: wrap;
  }

  .button-column {
    display: flex;
  }

  .grey {
    background: #f1f3f4;
    color: #202124;

  }

  .blue {
    background: #4285f4;
    color: #fff;
  }

  .container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10px;
  }

  .border {
    border: 1px solid #AAA;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px; /* Adjust padding to match the length of the buttons */
}

  .bottom-buffer {
    margin-bottom: 10px;
  }

  .sup {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
  }



#input {
  font-size: 14px;
}